/*common*/
div{
    font-size: 14px;
}
.header {
    height: 50px;
}

.header .header_wrap {
    height: 50px;
}

.header .logo img {
    display: inline-block;
    height: 34px;
    margin-top: 8px;
}
.header .logo span {
    display: inline-block;
    line-height: 50px;
}

.header_wrap .header_menu .header_menu_item a {
    line-height: 50px;
}

.content{
    padding: 20px 0;
    background-color: #edeff3;
}

.release-box{
    width: 780px;
    margin: 0px auto;
    background-color: white;
}

.content .release-box:after {
    content: ".";
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}

.title{
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    color: #34c86c;
}
.publish-info {
    padding-left: 40px;
}

/*调整*/
.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}
.section-container{

}
.section-title{
    color: #333;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
}
.small-title{
    color: #888b9a;
    font-size: 14px;
    width: 5em;
    float: left;
    text-align: right;
    margin-right: 20px;
}
.need{
    color: red;
}
.section-content{
    line-height: 50px;
}
.section-sub-content{
    float: left;
}
i.check-ratio{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("/images/icons.png");
    background-position: -66px 0px;
}
i.check-ratio.checked{
    background-position: -66px -57px;
}
select{
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #edeff3;

    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("/images/arrow-dowm.png") no-repeat scroll right center transparent;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 16px;
    padding-left: 4px;
    /*line-height: 32px;*/
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border-radius: 0;
    font-size: 14px;

}
input{
    display: inline-block;
    border: solid 1px #edeff3;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    padding: 0 5px;
    font-size: 14px;
}
.input-bg{
    display: inline-block;
    border: solid 1px #edeff3;
    line-height: 28px;
    box-sizing: border-box;
    padding: 0 5px;
    margin-right: 2px;
}
.input-bg-inner{
    border: none;
    padding: 0;
    width: 60px;
    text-align: center;
}
textarea{
    outline: none;
    border: 1px solid #edeff3;
    background-color: white;
    resize: none;
    padding: 4px;
    width: 480px;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}
/*出租方式*/
.rent-mode-list{
    list-style: none;
}
.rent-mode-list>li{
    float: left;
    margin-right: 25px;
}
/*位置信息*/
#address-detail{
    width: 300px;
}
/*小区*/
#village-field{
    width: 200px;
}
/*房间户型*/
.kitchen>ul{
    list-style: none;
}
.kitchen>ul>li{
    float: left;
    margin-right: 25px;
}
/*楼层*/

/*面积*/
#area-field{
    width: 150px;
}
/*租金*/
#price-field{
    width: 150px;
}
/*房间设施*/
.house-facilities {
    margin-bottom: 30px;
}
.house-facilities .section-container {
    margin-left: 50px;
    margin-right: 20px;
}
.house-facilities .section-container div {
    float: left;
    margin-right: 25px;
    margin-top: 15px;
    white-space: nowrap;
    width: 90px;

}
.house-facilities .checkbox i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("http://afantizz.com/images/icons.png");
    background-position: -32px 0px;
    margin-right: 5px;
}
.house-facilities label{
    display: inline-block;
}
.house-facilities .checkbox i.check{
    background-position: -32px -57px;
}
.house-facilities .select_all span{
    display: inline-block;
    border: 1px solid #ccc;
    line-height: 24px;
    padding: 0px 5px;
}
/*标题*/
#house-title-field{
    width: 490px;
}
/*转租优惠*/
#benefit-field{
    height: 100px;
}
/*房间描述*/
#desc-field{
    height: 180px;
}
/*上传图片*/
.house-images .section-container{
    margin-left: 95px;
}
#img-container{
    list-style: none;
}
#img-container li {
    float: left;
    padding-left: 5px;
    margin: 5px 0;
    width: 190px;
    height: 142px;
    position: relative;
}
#img-container li img {
    width: 190px;
    height: 142px;
}
.uploadImg{
    background: url("/images/upimg_loading.gif");
    background-position: center;
}
#img-container li .img-del {
    position: absolute;
    top: 0;
    left: 5px;
    width: 190px;
    height: 142px;
    background-color: black;
    opacity: 0.0;
    filter: alpha(opacity=0);

}
#img-container li .img-del a{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 51px 75px;
    z-index: 100;

}
#img-container li .img-del a img {

    width: 40px;
    height: 40px;
}
.localUpload_wrap {
    width: 194px;
    height: 172px;
    border: 1px solid #ececec;
    margin-bottom: 30px;
    clear: both;

}
.localTitle{
    height: 32px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ececec;
    padding: 0 12px;
    line-height: 32px;
    font-size: 14px;
    color: #9a9a9a;
}

.localUpload{
    background-image: url(/images/icons.png);
    background-position: -106px 0;
    width: 99px;
    height: 90px;
    margin: 30px auto 0;
}

#imgUpload{
    width: 96px;
    height: 90px;
    opacity: 0;
    cursor: pointer;
}
/*联系人*/
.house-contact input{
    width: 200px;
}
/*发布按钮*/
.release-action{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
#release{
    display: block;
    width: 250px;
    background-color: #34c86c;
    border-radius: 2px;
    color: white;
    text-align: center;
    line-height: 36px;
    margin-left: 120px;
}

.footer{
    padding-top: 0;
}






